.message {
  animation: message-appear 0.25s ease-out;
  overflow-y: hidden;
  border-radius: 5px;
}

.message:focus-visible {
  outline: 2px dotted #258cfb;
  outline-offset: 1px;
}

.message:not(.assistant) .message-content {
  padding: 0;
}

.message.assistant {
  display: flex;
  flex-direction: column;

  background-color: #fcfcfc;
  border: 2px solid #d9d9d9;
}

.message--actions {
  margin-top: 10px;
}

.message--actions button {
  margin-right: 5px;
}

@keyframes message-appear {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 100px;
  }
}

.message.assistant:not(.visible) {
  display: none;
}

.message.assistant.cursor-wait {
  cursor: wait;
}

.message-content {
  padding: 10px 15px;
}

.message-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.message-text {
  word-break: break-word;
}

.message-sources {
  padding: 10px 0;
  margin: 0 20px;
  border-top: 1.5px solid #d9d9d9;
  font-size: 90%;
}

.message-sources--heading {
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.message-sources--list {
  margin-bottom: 0;
  padding-left: 1rem;
}

.message-sources--list li {
  margin-bottom: 10px;
}

.search-info {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.search-info:before {
  content: "Searching: ";
}

/* Applies from 576 - 767 */
@media (min-width: 576px) {
  .message-content {
    padding: 10px 20px;
  }
}

/* Applies from 768 - 991 */
@media (min-width: 768px) {
  .message-sources--list {
    padding-left: 2rem;
  }
}

/* Applies from 992 - 1199 */
@media (min-width: 992px) {
}
