@namespace AIChatApp.Components.Canada
@inherits SharedCultureComponent
@inject JsonLocalizationService L

<!-- Phase banner begins -->
<section class="alpha-top">
  <div class="container">
    <span class="label label-warning">@L._("Canada.PhaseBanner.Label")</span>
    &nbsp;&nbsp;<span>@L._("Canada.PhaseBanner.Text")</span>

  </div>
</section>
<!-- Phase banner ends -->